<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Agregar Ingreso / Egreso</h4>
        <p class="card-description">
          Especifique el monto y el tipo
        </p>

        <form (ngSubmit)="saveOperation()" [formGroup]="form">

          <div class="form-group">
            <label>Descripción</label>
            <input type="text"
            class="form-control"
            placeholder="Descripción"
            formControlName="description"
            name="descripcion">
          </div>

          <div class="form-group">
            <label>Cantidad</label>
            <input type="number"
            class="form-control"
            placeholder="Cantidad"
            formControlName="amount"
            name="monto">
            <p>
              Debe de ser un monto positivo
            </p>
          </div>

          <div class="form-group">
            <label>Tipo</label>
            <br>
            <button type="button" class="btn btn-primary btn-block" *ngIf="type === 'income'" (click)="changeType()">Ingreso</button>
            <button type="button" class="btn btn-danger btn-block" *ngIf="type === 'withdrawal'" (click)="changeType()">Egreso</button>
            <!-- <button type="button" class="btn btn-warning btn-block">Egreso</button> -->
          </div>

          <hr>
          <button type="submit" [disabled]="form.invalid" class="btn btn-success mr-2" *ngIf="!loading">
            <i class="fa fa-save"></i>
            Agregar
          </button>
          <button type="button" [disabled]="true" class="btn btn-success mr-2" *ngIf="loading">
            <i class="fas fa-spinner fa-pulse"></i>
            Guardando
          </button>

        </form>
      </div>
    </div>
  </div>
</div>
